.strong
    font-weight bold
.index
    padding 0 30rpx
    padding-bottom 140rpx
    // display flex
    // flex-direction column
    // align-items center
    // justify-content center
    // height 100vh
    // background linear-gradient(green, 10%, white)
    .slogan
        font-size 60rpx;
        font-weight bold;
    .input-box 
        display flex
        align-items center
        width 100%
        height 80rpx
        box-sizing border-box
        padding-left 30rpx
        background #f8f8f8
        border-radius 80rpx
        border 1rpx solid #eee 
        margin 28rpx 0                  
        .placeholder  
            margin-left 12rpx
            font-size 28rpx
            color #666
    .banner
        // width 508rpx
        width 100%
        // height 300rpx
        border-radius 10rpx
        // display block
        // margin 0 auto
        // margin-bottom 18rpx
    .img 
        width 546rpx
        height 546rpx
    .tab-container
        display flex
        position sticky
        top 0
        z-index 999
        // align-items center
        background #fff
        border-bottom 1rpx solid #eee
        .tab-item 
            flex 1
            height 60rpx
            line-height 60rpx
            text-align center
            font-size 26rpx
            color #000
            &.recyclable
                background blue
            &.harmful
                background red
            &.wet
                background green
            &.dry
                background black
            &.active
                font-size 28rpx
                font-weight bold
                border-bottom 1rpx solid #000
            &.hover-bg
                background #eee
                
