.strong
    font-weight bold
.index
    // padding 28rpx 30rpx 140rpx
    .header
        // background url('http://pic.sc.chinaz.com/files/pic/pic9/201610/fpic7918.jpg')
        padding 28rpx 30rpx 48rpx
        margin-bottom 48rpx
    .type-container
        display flex
        justify-content space-between
        flex-wrap wrap
        padding 30rpx 77rpx
        .type-item
            width 260rpx
            height 260rpx
            border-radius 10rpx
            margin-bottom 48rpx
        // display flex
        // align-items center
        // height 160rpx
        // border-radius 10rpx
        // background #eee
        // background #36bf84
        // background linear-gradient(to right, #66FF99, #36bf84)
        // padding 0 30rpx
        // margin 30rpx
        // font-size 24rpx
        // color #000
        // .img-wrap
        //     margin-right 30rpx
        //     width 100rpx
        //     height 100rpx
        // Image
        //     width 100rpx
        //     height 100rpx
    .input-box 
        display flex
        align-items center
        width 100%
        height 80rpx
        box-sizing border-box
        padding-left 30rpx
        background #f8f8f8
        border-radius 80rpx
        border 1rpx solid #eee 
        .placeholder  
            margin-left 12rpx
            font-size 28rpx
            color #666
    .banner
        width 100%
        border-radius 10rpx
    .img 
        width 546rpx
        height 546rpx
    .tab-container
        display flex
        position sticky
        top 0
        z-index 999
        // align-items center
        background #fff
        border-bottom 1rpx solid #eee
        padding-top: 18rpx
        .tab-item 
            flex 1
            height 60rpx
            line-height 60rpx
            text-align center
            font-size 28rpx
            color #000
            &.recyclable
                color #0075C2
            &.harmful
                color #e80016
            &.wet
                color #009944
            &.dry
                color #F7AC00
            &.active
                // font-size 28rpx
                // font-weight bold
                // border-bottom 1rpx solid #000
            &.hover-bg
                // background #eee
    .title
        position fixed
        right 30rpx
        bottom 200rpx
        font-weight bold
        display flex
        align-items center
        font-size 28rpx
        color #000
        background #eee
        padding 0 24rpx
        height 60rpx
        border-radius 60rpx
        // margin-top 48rpx
        // border-bottom 1rpx solid #999
    .fixed
        position fixed
        right 30rpx
        bottom 180rpx
        Image
            display block
            width 40rpx
            height 40rpx
            background #ccc
            border-radius 40rpx
            border 12rpx solid #ccc
        .btn-wrap
            position relative
            margin-bottom 24rpx
            .share-btn
                position absolute
                top 0
                right 0
                bottom 0
                left 0
                opacity 0
            

                
