.index
    padding 0 30rpx
    padding-bottom 66rpx
// .swiper
//     min-height 100vh
.tab-container
    display flex
    position sticky
    top 0
    z-index 999
    // align-items center
    background #fff
    border-bottom 1rpx solid #eee
    padding-top: 18rpx
    .tab-item 
        flex 1
        height 60rpx
        line-height 60rpx
        text-align center
        font-size 26rpx
        color #000
        &.recyclable
            color #2761C9
        &.harmful
            color #DD1717
        &.wet
            color #16937B
        &.dry
            color #FF8B00
        &.active
            font-size 30rpx
            font-weight bold