.index
    padding 30rpx
    height 100vh
    background #fff
    .item
        font-size 28rpx
        color #000
        margin-bottom 18rpx
        // border 1rpx solid #eee
        .title
            background #eee
            padding 8rpx 30rpx
            font-size 26rpx
        .detail
            padding 18rpx 30rpx
            font-size 28rpx
        .strong
            font-weight bold