.index
    display flex
    flex-direction column
    align-items center
    justify-content center
    width 100%
    height 100vh
    background #f8f8f8
    .qrcode
        width 430rpx
        height 430rpx
        border 1rpx solid #eee
    .sub-title
        font-size 28rpx
        margin-bottom 18rpx
